.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  z-index: 2;
}
.sidebarToggle {
  display: none;
  cursor: pointer;
}
.lightHorizontalLogo {
  width: 350px;
}
.siteNavWrapper {
  flex: 1;
}
.siteNavWrapper a {
  padding: 0 18px;
  font-size: 14px;
  font-weight: 600;
}
.userThumbnail {
  display: flex;
  align-items: center;
}
.userThumbnail img {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (max-width: 915px) {
  .sidebarToggle {
    display: block;
  }
  .sidebarToggle > * {
    font-size: 30px;
    margin-right: 10px;
  }
  .logo {
    flex: 1;
  }
  .siteNavWrapper {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .lightHorizontalLogo {
    width: 250px;
  }
  .sidebarToggle > * {
    font-size: 25px;
    margin-right: 10px;
  }
  .signupLoginAuth {
    display: none;
  }
  .userThumbnail {
    display: none;
  }
}
