nav {
  padding: 0 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}
.lightHorizontalLogo {
  width: 350px;
}
.darkHorizontalLogo {
  display: none;
}
.siteNavWrapper {
  flex: 1;
}
.siteNavWrapper a {
  padding: 0 18px;
  font-size: 14px;
  font-weight: 600;
}
