@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font-weight: 500;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #fff;
  background: #1a73e8;
  padding: 7.5px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
}
.HomePage {
  margin-top: 65px;
}
.disclaimer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: #fff;
}
.disclaimer p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
@media screen and (max-width: 650px) {
  .disclaimer p {
    font-size: 11px;
  }
}
